/* Creo un root con tutte le variabili all'interno
in questo modo è più semplice andare ad apportare un'eventuale modifica */
:root {
  --home-bg-color: #000;
  --account-bg-color: #f3f3f3;
  --text-color: #fff;
  --primary-color: #e40a13;
  --secondary-color: #929292;
}

body {
  background: var(--home-bg-color);
}

.btn {
  border-radius: 0;
}

#logo {
  height: 48px;
}

#avatar {
  height: 36px;
}
#avatar-small {
  height: 24px;
  margin-right: 10px;
}
.dropdown-menu {
  margin-left: -100px;
  background-color: var(--home-bg-color);
}

.icon {
  margin: 4px 10px;
}

.dropdown-menu a {
  font-size: 12px;
}

.genre-details {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.genre-button {
  margin-left: 4em;
}

.movie-row {
  margin-top: 20px;
  margin-bottom: 50px;
}
.movie-cover {
  width: 99%;
  transition: 0.3s;
  opacity: 0.7;
}
.movie-cover:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.05);
}

.carousel-control-next {
  margin-right: -5%;
}

.carousel-control-prev {
  margin-left: -5%;
}

.account-page {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--account-bg-color);
}

.profile-page {
  padding: 5% 20%;
  color: #fff;
}

.profile-title {
  font-size: 64px;
}

.edit-icon {
  position: relative;
  left: 10%;
  top: -10%;
  background: black;
  padding: 10px;
  border-radius: 50%;
}

.list-group {
  color: black;
}

footer {
  cursor: pointer;
}

#search-component {
  animation: fade-in 0.5s;
}

.reveal-section {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.reveal-section.reveal {
  opacity: 1;
  transform: translateY(0);
}

/* Ho usato l'animazione che ho chiamato fade-in */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
